[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = {extras = ["all"], version = "==20.6"}
matplotlib = "==3.8.0"
pyyaml = "==6.0.1"
sqlalchemy = "==2.0.21"
pytz = "==2023.3.post1"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.0"
